<h1>Hosts</h1>

<form action="/host" method="POST">
  <h2>Add New Host</h2>
    
  <label for="hostname">Hostname:</label>
  <input type="text" id="hostname" name="hostname" required>
    
  <label for="ip">IP Address:</label>
  <input type="text" id="ip" name="ip" required>

  <input type="hidden" name="return_url" value="/hosts.html">
  <button type="submit">Add Host</button>
</form>

<h2>Existing Hosts</h2>
<table id="host-list">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>IP Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% Hosts.all.each do |host| %>
      <tr>
        <td><%= host['hostname'] %></td>
        <td><%= host['ip'] %></td>
        <td>
          <form action="/host/delete" method="POST" style="margin: 0;">
            <input type="hidden" name="uuid" value="<%= host['uuid'] %>">
            <input type="hidden" name="return_url" value="/hosts.html">
            <button type="submit" class="delete-button">Delete</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
